<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gcatech.net.scanner" >

    <application>
        <activity android:name=".activity.ScannerActivity" android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        />
    </application>

</manifest>
