<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gcatech.net.scanner" >

    <application  android:largeHeap="true">
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>
